.login-wrap{
    height: 100vh;
    .login-form{
        margin:auto;
        text-align: center;
        border:1px solid #ddd;
        border-radius: 0.5rem;
        width: 20rem;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        >h1{
            margin:0 0 2rem 0;
        }
        >span{
            margin:0.5rem 0;
        }
        >button{
            margin:1.5rem 0 0 0;
        }
        .ic-group{
            display: flex;
            align-items: center;
            >img{
                margin-left:1rem;
            }
        }
    }
}
