<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>">
    <!--[if lt IE 9]>
        <script src="polyfill/shim.js"></script>
        <script src="//cdncs.101.com/v0.1/static/fish/script/media-polyfill.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="root"></div>
</body>
</html>