{
  "presets": [
    ["env",{
      "modules": false,// 模块化交给webpack处理
      "useBuiltIns":"usage",// "usage" | "entry" | false, defaults to false.
      "targets": {"browsers": ["safari >= 7", "ie>=8"]}
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "add-module-exports",// 转义import和export
    "transform-runtime",// 转义generator
    "transform-decorators-legacy",// 转义@
    "transform-class-properties",// 转义写在class里面的属性
    "transform-es3-member-expression-literals",// 支持ie
    "transform-es3-property-literals",// 支持ie
    ["transform-es2015-classes", { "loose": true }],
    "transform-proto-to-assign",
    ["import", {"libraryName": "fish", "libraryDirectory": "lib", "style": true}] // `style: true` 会加载 less 文件。需要安装babel-plugin-import
  ]
}
// 是否可以只用useBuiltIns+babel-polyfill不用transform-runtime？不行。一个典型的场景就是前者没有转义generator，后者有对静态的generator做转义。