{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "add-module-exports",// 转义import和export
    "transform-runtime",// 转义generator
    "transform-decorators-legacy",// 转义@
    "transform-es3-member-expression-literals",// 支持ie
    "transform-es3-property-literals"// 支持ie
  ]
}
